@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
// @import '~fontawesome/scss/fontawesome.scss'

.dm-btn{
  padding: 10px 25px;
  border-radius: 20px;
}
.dm-font{
  font-family: 'Fredoka One', cursive;
}